<!DOCTYPE html>
<html lang="" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Books Homepage - Welcome to My Book Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
        button
        {
            font-size: 13px;
            padding: 2px;
        }

    </style>
</head>
<body>
<a th:href="@{/books}"></a>
<header>
    <h1>Welcome to My Book Store</h1>
</header>
<main>
    <h2>Choose book:</h2>
    <form th:method="GET" th:action="@{/books}">
        <div>
            <th:block>
                <label for="year">Search</label>
                <input type="text" id="year" name="searchTerm" placeholder="Enter year">
                <button type="submit">Search</button>
            </th:block>
        </div>
    </form>
    <div>

    <!-- Display radio buttons for each book,
            the value should be the isbn
            and the displayed text should be Title: <bookTitle>, Genre:<genre>, Year: <year> -->
        <th:block th:each="book: ${books}">
            <a th:href="@{'/books/edit-form/{id}' (id=${book.getId()})}">
                <button th:class="form-container">Edit Book</button>
            </a>

            <form  th:action="@{'/books/delete/{id}' (id=${book.getId()})}"
                  th:method="POST">
                <button type="submit">
                   Delete
                </button>
                <a th:href="'/review/'+${book.getId()}"><button type="button">Add Review</button></a>
                <a th:href="'/review/get/'+${book.getId()}"><button type="button">Show Reviews</button></a>
            </form>
            <form  th:method="POST" th:action="@{/books}">
            <input type="radio" name="bookIsbn" th:value="${book.getIsbn()}" th:id="${book.getIsbn()}"/>
            <label th:for="'book' + ${book.getIsbn()}" th:text="'Title: '+ ${book.getTitle()}+' '+'Genre: '+${book.getGenre()}+' '+
            'Year: '+${book.getYear()}+' Copies sold: '+${book.getBookSales().getCopies_sold()}+' Date Sold: '+${book.getBookSales().getDate()}"></label><br/>
                <button type="submit">Submit</button>
            </form>

        </th:block>
        <a href="books/add-form">
            <button th:class="form-container">Add Book</button>
        </a>
    </div>

    <th:block th:if="${hasError}">
        <div th:text="${error}" class="text-danger"></div>
    </th:block>
</main>
</body>
</html>